@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* BRANCO rgba(248, 248, 255, 1) */
/* PRETO  #0E1114 */
/* AZUL #1874CD; */
html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

::-webkit-scrollbar {
display: none;
}

body{
    /* overflow: hidden; */
    background: rgba(248, 248, 255, 1);
}

.max-larg{
  max-width: 90%;
  padding: 0 20px;
  margin: auto;

}

button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* CABEÇALHO */
.barra_nav{
  position: fixed;
  width: 100%;
  /* background: #1874CD; */
  /* #104E8B */
  font-family: 'Poppins', sans-serif;
  padding: 30px 0;
  /* 0E1114
  141414 */
  /* transition: 0.5s; */
  transition: all 0.5s ease;
  /* transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); */

  z-index: 999;
}

.barra_nav.colorida{
    padding: 20px 0;
    background: rgba(248, 248, 255, 0.836) ;
    /* transition: 0.5s; */

}

.barra_nav.colorida .menu li a{
    color: #0E1114;
    /* transition: 0.5s; */
}

.barra_nav.colorida .logo a{
    color: #0E1114;
    /* transition: 0.6s; */

}

.barra_nav .max-larg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barra_nav .logo a{
  font-size: 35px;
  color: white;
  font-weight: 600;

}

.barra_nav .logo a span{
  cursor: pointer;
  font-size: 35px;
  color: white;
  font-weight: 600;

}
.barra_nav .logo a span{
  color: #1874CD;

}

.barra_nav .menu li{
  list-style: none;
  display: inline-block;
}

.barra_nav .menu li a{
  display:  block;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s ;
}

.barra_nav .menu li a:hover{
  color: #1874CD;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.20em);
}

.opcoes{
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 850px){
  .opcoes{
    display: block;
    z-index: 999;
    color: #1874CD;

  }

  .opcoes i.on:before{
    content: "\f00d";
  }

  .barra_nav .menu{
    position: fixed;
    padding-top: 82px;
    text-align: center;
    background: rgba(248, 248, 255, 0.973);
    right: -100%;
    height: 100vh;
    width: 100%;
    top: 0;
    transition: all 0.7s ease;

  }

  .barra_nav .menu.on{
    right: 0;

  }
  .barra_nav .menu li{
    display: block;

  }
  .barra_nav .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size:  25px;
    color: #0E1114;

  }

}

/* TELA INICIAL */
.home{
  display: flex;
  background-color: black;
  background: url("../img/bannerClean.png") no-repeat center;
  height: 100vh;
  color: rgba(248, 248, 255, 1);
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-larg{
  margin: auto 0 auto 40px;
  display: flex;
  width: 100%;
  margin: auto;
  /* NOME CENTRALIZADO OU ESQUERDA ^ */
}

.home .cont_home .nome1{
  font-size: 28px;
}
.home .cont_home .nome2{
  font-size: 76px;
  font-weight: 600;
  margin-left: -3px;
  text-decoration: underline #1874CD;
  /* border-bottom: 5px inset #1874CD ; */
}

.home .cont_home .nome3{
  font-size: 40px;
  font-weight: 500;
  margin: 5px 0;
}

.home .cont_home .nome3 span{
  color: #1874CD;
}

.mid{
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.mouse{
  width: 40px;
  height: 65px;
  border: 2.5px solid rgba(248, 248, 255, 1);
  border-radius: 100px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

}

.mouse::before{
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 30px;
  background: rgba(248, 248, 255, 1);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;

}

.scroll h5{
  font-family: 'Ubuntu', sans-serif;
  color: rgba(248, 248, 255, 1);
  font-weight: 400;
}

@keyframes mouse {
  from{
    opacity: 1;
    top: 15px;
  }
  to{
    opacity: 0;
    top: 48px;
  }
}

/* SOBRE */

section.sobre{
  padding: 80px 0 80px 0;
}

.sobre{
  font-family: Poppins, sans-serif;
}

.sobre .titulo{
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

/* .sobre .titulo::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);

} */

/* .sobre .titulo::after{
  content: "who i am";
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #0E1114;
  padding: 0 5px;
  background: #f8f8ff;
  /* border-radius: 30%;
  transform: translateX(-50%);

} */

.sobre .cont_sobre{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sobre .cont_sobre .esquerda img{
  height:  500px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.sobre .cont_sobre .esquerda{
  width: 45%;
}

.sobre .cont_sobre .direita{
  width: 55%;
}

 .sobre .cont_sobre .direita .desc{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sobre .cont_sobre .direita .desc span{
  color: #1874CD;
}

.sobre .cont_sobre .direita p{
  text-align:  justify;
}

.sobre .cont_sobre .direita a{
    display: inline-block;
    background: #1874CD;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #1874CD;
    transition: all 0.3s ease;
}

.sobre .cont_sobre .direita a:hover{
  background: none;
  color: #1874CD;
}

.max-larg .sobre{
  max-width: 800px;
}

.sobre .cont_sobre .col{
  width: 50%;

}

.sobre .cont_sobre .esquerda{
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;

}

@media (max-width: 1030px){
  .sobre .cont_sobre .direita {
    flex: 100%;
  }
}

@media (max-width: 1030px){
  .sobre .cont_sobre .esquerda img{
    height:  450px;
    width: 250px;
  }
}

/* SKILLS */
.habilidades .titulo {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: rgba(248, 248, 255, 1);

}

section.habilidades{
  padding: 100px 0 100px 0;
  background-color: #0E1114;
  color: rgba(248, 248, 255, 1);


}

.habilidades{
  font-family: Poppins, sans-serif;
}

.habilidades .cont_habilidades{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.habilidades .cont_habilidades .col{
  width: 100%;
  /* TAMANHO BARRA SKILLS */
}

.habilidades .cont_habilidades .bars{
    margin-bottom: 20px;
}

.habilidades .cont_habilidades .infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habilidades .cont_habilidades span{
    font-weight: 500;
    font-size: 20px;
}

.habilidades .cont_habilidades .linha{
  height: 8px;
  width: 100%;
  background-color: rgba(248, 248, 255, 1);
  border-radius: 6px;
  position: relative;}

.habilidades .cont_habilidades .linha::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #1874CD;
  border-radius: 6px;
}

.habilidades .cont_habilidades .git::before{
  width: 100%;
}
.habilidades .cont_habilidades .python::before{
  width: 90%;
}
.habilidades .cont_habilidades .html::before{
  width: 70%;
}
.habilidades .cont_habilidades .css::before{
  width: 60%;
}
.habilidades .cont_habilidades .js::before{
  width: 20%;
}
.habilidades .cont_habilidades .c::before{
  width: 70%;
}
.habilidades .cont_habilidades .ps::before{
  width: 80%;
}

.habilidades .percent div {
  position:relative;
  margin:80px;
  width:220px;
  height:220px;
}
canvas {
  display: block;
  position:absolute;
  top:0;
  left:0;
}
.habilidades .percent span {
    color:rgba(248, 248, 255, 1);
    display:block;
    line-height:220px;
    text-align:center;
    width:220px;
    font-family:sans-serif;
    font-size:40px;
    font-weight:100;
    margin-left:5px;
}

.habilidades input {
  width: 200px;
}

 .maps{
  margin:0px;
  padding: 0;
}

/* CONTATO */
.contato .titulo {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: #0E1114;

}

.contato .top{
  font-size: 23px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  margin: 5px;
}

section.contato{
  padding: 60px 0 60px 0;
  background-color: rgba(248, 248, 255, 1);
  color: #0E1114;
}

.contato .maps{
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.contato .cont_contato .col_esquerda{
  width: calc(50% - 20px);
  /* display: inline-block; */
  /* text-align: left; */
  padding: 30px;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}

.cont_contato .col_direita{
  width: calc(50% - 20px);
  left: 500px;
  margin: 0;
  /* display: inline-block; */
  text-align: left;
  padding: 10px;
  border-radius: 3px;
}


.contato .col_direita form .campos{
  display: flex;
}

.contato .col_direita form .campo,
 .contato .col_direita form .campos .campo{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;

}

.contato .col_direita form .nome{
  margin-right: 10px;
}

.contato .col_direita form .email{
  /* margin-right: 10px; */
}

.contato .col_direita form .message{
  height: 80px;

}

.contato .col_direita form .campo input,
.contato .col_direita form .message textarea{
  height: 100%;
  width: 100%;
  border: 2px solid #1874CD;
  border-radius: 8px;
  outline: none;
  padding: 0 20px;
  font-size: 17px;
  font-family: Poppins, sans-serif;
  margin: 5px;
  background: none;
  color: #0E1114;
}

.contato .col_direita form .message textarea{
  font-family: Poppins, sans-serif;
  padding-top:  10px;
  resize: none;
  height: 100%;
  width: 100%;

}
.contato .col_direita .botao{
  height: 47px;
  width: 170px;
}

.contato .col_direita .botao button{
  height: 100%;
  width: 100%;
  /* margin-top:130px;  */
  border-radius: 6px;
  background: #1874CD;
  color: rgba(248, 248, 255, 1);
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  margin: 10px;
  display: inline-block;
  background: #1874CD;
  border: 2px solid #1874CD;
  transition: all 0.3s ease;
}

.contato .col_direita .botao button:hover{
  color:#1874CD;
  background: none;
}

.contato .cont_contato{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1030px){
  .cont_contato .col_direita {
    flex: 100%;
    width: 100%;
  }
  .contato .cont_contato .col_esquerda{
    width: 100%;
  }
}


/* FIM? */
